@import "./config.scss";

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:root {
  @each $key, $value in $config {
    --#{$key}: #{$value};
  }
}
h1 {
  font-size: max(calc(var(--space) / 1), 3rem);
}
h2 {
  font-size: max(calc(var(--space) / 2), 2rem);
}
h3 {
  font-size: max(calc(var(--space) / 3), 1.5rem);
}
h4 {
  font-size: max(calc(var(--space) / 4), 1.2rem);
}

// Reset

h1,
h2,
h3,
h4 {
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.ui-image,
.ui-button {
  margin: 0;
  & + h1,
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + h6,
  & + p,
  & + .ui-image,
  & + .ui-button {
    margin-top: 1em;
  }
}

h2 + h3 {
  margin-top: 0.5em;
}

.content {
  p {
    line-height: 1.5;
  }
}
