$desktop: "screen and (min-width: 720px)";
$mobile: "screen and (max-width: 720px)";

.ui-navigation {
  $block: &;

  &__toggle {
    width: 48px;
    height: 48px;
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;

    span {
      &,
      &:before,
      &:after {
        position: absolute;
        display: block;
        width: 1.5em;
        height: 2px;
        background-color: var(--background);
        transition: 0.2s ease-in-out;
      }
      &:before,
      &:after {
        content: "";
      }
      &::before {
        transform: translateY(-400%) rotate(0deg);
      }
      &::after {
        transform: translateY(400%) rotate(0deg);
      }
    }
    #{$block}--active & {
      span {
        background-color: transparent;
      }
      span::before {
        transform: translateY(-0%) rotate(45deg);
      }
      span::after {
        transform: translateY(-0%) rotate(-45deg);
      }
    }

    @media #{$desktop} {
      display: none;
    }
  }
  &__container {
    @media #{$mobile} {
      width: 100%;
      position: fixed;
      left: 0;
      top: 100%;
      background-color: var(--foreground);
      padding: calc(var(--space) / 2);
      clip-path: inset(0 0 100% 0);
      transition: clip-path 0.5s ease-in-out;
    }
  }
  &--active {
    #{$block}__container {
      clip-path: inset(0 0 0 0);
    }
  }
  &__list {
    display: flex;
    @media #{$mobile} {
      flex-direction: column;
    }
  }
  &__item {
  }
  &__link {
    display: block;
    line-height: 1;
    padding: 1em;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    border-radius: var(--border-radius);
    position: relative;

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      background-color: var(--button-hover-color, rgba(0, 0, 0, 0.05));
      position: absolute;
      left: 0;
      top: 0;
      border-radius: var(--border-radius);
      z-index: 0;
      clip-path: inset(0 0 0 100%);
      transition: clip-path 0.3s ease-in-out;
    }
    &:hover {
      background-color: var(--primary);
      @at-root {
        @keyframes buttonBump {
          0%,
          100% {
            transform: scale(1);
          }
          50% {
            transform: scale(1.05);
          }
        }
      }
      animation: buttonBump 0.2s ease-in-out forwards;

      &::before {
        clip-path: inset(0 0 0 0%);
      }
    }
  }
  &__text {
    font-size: 1em;
    font-family: var(--primary-font-family);
  }
}
